<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desktop Template</title>
    <link rel="icon" href="../img/logo.svg">
    <link rel="stylesheet" href="../css/desktop_template.css" />
    <link rel="stylesheet" href="../css/fonts.css" />
    <link rel="stylesheet" href="../privacy_policy.css">
    <link rel="stylesheet" href="../css/mobile_template.css">
    <script src="../script.js"></script>
  </head>
  <body>

    <script src="../privacy_policy.js"></script>

    <header>
      <div class="header-content">
        <p>Kanban Project Management Tool</p>
        <div class="header-icons">
          <img onclick="goToHelp()" class="header-help" src="../img/help.svg" alt="questionmark" />
          <div id="user-logo" onclick="toggleMenu()" class="header-user-name">SM</div>
        </div>
      </div>
    </header>

    <div class="user-content" id="user-content">
      <a href="./legal_notice.html">Legal Notice</a>
      <a href="./privacy_policy.html">Privacy Policy</a>
      <a onclick="logOut()" href="index.html">Log Out</a>
    </div>
    </div>
    
    <div class="sidebar">
      
        <img onclick="goToSummary()" src="../img/logo.svg" alt="" class="sidebar-logo" />
        <div class="sidebar-menu">
          <a href="#" class="sidebar-links" onclick="goToSummary()" id="link-summary">
            <img src="../img/sidebar_summary.svg" alt="" />Summary
          </a>
          <a href="#" class="sidebar-links" onclick="goToTask()" id="link-task">
            <img src="../img/edit_square.svg" alt="" />Add Task
          </a>
          <a href="#" class="sidebar-links" onclick="goToBoard()" id="link-board">
            <img src="../img/sidebar_board.svg" alt="" />Board
          </a>
          <a href="#" class="sidebar-links" onclick="goToContacts()" id="link-contacts">
            <img src="../img/sidebar_contacts.svg" alt="" />Contacts
          </a>
        </div>
        <div class="sidebar-menu-bottom">
          <a id="link-privacy-policy" onclick="goToPrivacyPolicy()" href="#">Privacy Policy</a>
          <a id="link-legal-notice" onclick="goToLegalNotice()" href="#">Legal Notice</a>
        </div>
      
    </div>

  </body>
</html>