<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile-Template</title>
    <link rel="icon" href="../img/logo.svg">
    <link rel="stylesheet" href="../css/desktop_template.css" />
    <link rel="stylesheet" href="../css/fonts.css" />
    <link rel="stylesheet" href="../privacy_policy.css">
    <link rel="stylesheet" href="../css/mobile_template.css" />
    <script src="../script.js"></script>
    
</head>

<body>
    <nav class="resp-taskbar">
        <div class="resp-menu">
            <a class="nav-resp" href="./summary.html" onclick="goToSummary()" id="link-summary">
                <img class="icon-mobile" src="../img/sidebar_summary.svg" />Summary
            </a>

            <a class="nav-resp" href="./add_task.html" onclick="goToTask()" id="link-task">
                <img class="resp-icon" src="../img/edit_square.svg" />Add Task
            </a>

            <a class="nav-resp" href="./board.html" onclick="goToBoard()" id="link-board">
                <img class="resp-icon" src="../img/sidebar_board.svg" />Board
            </a>

            <a class="nav-resp" href="./contacts.html" onclick="goToContacts()" id="link-contacts">
                <img class="resp-icon" src="../img/sidebar_contacts.svg" />Contacts
            </a>
        </div>
    </nav>
</body>

</html>